$submit: rgb(62, 157, 157);
$hover-submit: rgb(6, 84, 84);
$shadow: rgb(120, 225, 225);
$text-color: white;

.btn-submit {
  color: $text-color;
  background-color: $submit;
  border-color: $submit;
}

.btn-submit:hover {
  color: $text-color;
  background-color: $hover-submit;
  border-color: $submit;
}

.btn-check:focus+.btn-submit,
.btn-submit:focus {
  color: $text-color;
  background-color: $submit;
  border-color: $submit;
  box-shadow: 0 0 0 .25rem $shadow
}

.btn-check:active+.btn-submit,
.btn-check:checked+.btn-submit,
.btn-submit.active,
.btn-submit:active,
.show>.btn-submit.dropdown-toggle {
  color: $text-color;
  background-color: $submit;
  border-color: $submit
}

// .btn-check:active+.btn-submit:focus,
// .btn-check:checked+.btn-submit:focus,
// .btn-submit.active:focus,
// .btn-submit:active:focus,
// .show>.btn-submit.dropdown-toggle:focus {
// 	box-shadow: 0 0 0 .25rem rgb(136 51 255 / 50%)
// }

.btn-submit.disabled,
.btn-submit:disabled {
  color: $text-color;
  background-color: $submit;
  border-color: $submit
}

.btn-outline-submit {
  color: $submit;
  border-color: $submit
}

.btn-outline-submit:hover {
  color: #fff;
  background-color: $hover-submit;
  border-color: $submit
}

.btn-check:focus+.btn-outline-submit,
.btn-outline-submit:focus {
  box-shadow: 0 0 0 .25rem $shadow
}

.btn-check:active+.btn-outline-submit,
.btn-check:checked+.btn-outline-submit,
.btn-outline-submit.active,
.btn-outline-submit.dropdown-toggle.show,
.btn-outline-submit:active {
  color: #fff;
  background-color: $submit;
  border-color: $submit
}

.btn-check:active+.btn-outline-submit:focus,
.btn-check:checked+.btn-outline-submit:focus,
.btn-outline-submit.active:focus,
.btn-outline-submit.dropdown-toggle.show:focus,
.btn-outline-submit:active:focus {
  box-shadow: 0 0 0 .25rem rgb(136 51 255 / 50%)
}

.btn-outline-submit.disabled,
.btn-outline-submit:disabled {
  color: $submit;
  background-color: transparent
}

.radius-30 {
  border-radius: 30px;
}