$primary: rgb(255, 215, 0);
$text-color: black;

.btn-primary {
	color: $text-color;
	background-color: $primary;
	border-color: $primary;
}

.btn-primary:hover {
	color: $text-color;
	background-color: $primary;
	border-color: $primary;
}

.btn-check:focus+.btn-primary,
.btn-primary:focus {
	color: $text-color;
	background-color: $primary;
	border-color: $primary;
	box-shadow: 0 0 0 .25rem rgb(255 215 0 / 50%)
}

.btn-check:active+.btn-primary,
.btn-check:checked+.btn-primary,
.btn-primary.active,
.btn-primary:active,
.show>.btn-primary.dropdown-toggle {
	color: $text-color;
	background-color: $primary;
	border-color: $primary
}

.btn-check:active+.btn-primary:focus,
.btn-check:checked+.btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show>.btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 .25rem rgb(136 51 255 / 50%)
}

.btn-primary.disabled,
.btn-primary:disabled {
	color: $text-color;
	background-color: $primary;
	border-color: $primary
}